@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Poppins:ital,wght@0,500;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav.navbar-light{
    background: rgb(255, 255, 255) !important;
    position: sticky !important;
    top: 0;
    left: 0;
    z-index: 10000;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.432);
}
.navbar-brand img{
    width: 30%;
    margin-left: 80px;
}
nav .nav-link{
    font-size: 20px;
    padding: 4px 15px !important;
    font-weight: 700 !important;
    color: black !important;
    white-space: nowrap;
}
nav .nav-link:hover{
    color: rgb(1, 139, 139) !important;
    margin-top: 3px;
}
.nav-item.active .nav-link{
    color: rgb(1, 139, 139) !important;;
}
nav .nav-link button{
    background: #0885be;
    outline: none;
    border: none;
}
nav .nav-link button:hover{
    background: #056997;
}
main.index-head{
    height: 600px;
    background: linear-gradient(rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.075)), url('../images/slider.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    object-fit: contain;
    background-position: center;
}
main.index-head .index-head-content h1{
    font-size: 55px;
    color: white;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    margin-left: 50px;

}
main.index-head .index-head-content p{
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: 400;
    width: 35%;
    margin-left: 50px;

}
main.index-head .index-head-registration button{
    margin-left: 50px;
    display:inline-block;
    padding:0.7em 1.4em;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#FFFFFF;
    background-color:#33beff;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
}
main.index-head .index-head-registration button:hover{
    background-color:#0172a7;
}
main.index-head .index-head-timer{
    margin-left: 50px;
}

main.index-head .index-head-timer button{
    color: white;
    border: 1px solid white;
    padding: 13px 15px;
    font-size: 30px;
    font-weight: 700;
    position: relative;
}
main.index-head .index-head-timer button.btnsym::before{
    content: ':';
    position: absolute;
    left: 110%;
}
section.vef-cards{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    position: absolute;
    bottom: -300px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 50px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.466);
}
.vef-cards > h2{
    text-align: center;
    padding: 20px 0;
    font-size: 45px;
    font-weight: 700;
    color: #1199c2;
}
section.vef-cards .vef-all-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 50px;
}
.vef-card{
    background: rgb(248, 246, 243);
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
    cursor: pointer;
    transition: .5s ease-in-out;
}
.vef-card:hover{
    box-shadow: 3px 1px 12px rgba(0, 0, 0, 0.466);
    background: #1199c2;
    color: white;

}
.vef-card .vef-card-content h2{
    font-size: 22px;
    line-height: 32px;
}
.why-vef{
    margin-top: 400px;
    padding: 20px 0;
    width: 100%;
    background: linear-gradient(60deg, rgba(29, 29, 29, 0.5), rgba(12, 12, 12, 0.356)), url('../images/bg1.jpg');
    background-attachment: fixed;
}
.why-vef h2{
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 700;
    color: #11e5ec;
}
.why-vef .why-vef-cards{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 60px;
    grid-row-gap: 50px;
}
.why-vef .why-vef-cards .why-vef-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.329);
    padding: 10px;
    transition: 0.3s ease-in-out;
    border-radius: 10px;
    background: white;
}
.why-vef .why-vef-cards .why-vef-card:hover{
    box-shadow: 1px 0px 15px rgba(255, 255, 255, 0.61);
    background: rgb(248, 239, 225);
    cursor: pointer;
}
.why-vef .why-vef-cards .why-vef-card:hover > .why-vef-img img{
    box-shadow: 1px 1px 10px cyan;
}
.why-vef .why-vef-cards .why-vef-card img{
    width: 30%;
    margin-left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(4, 160, 160, 0.575);
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}
.why-vef .why-vef-cards .why-vef-card .why-vef-content{
    margin-top: 20px;
    text-align: center;
    font-size: 15px;
}
.why-vef .why-vef-cards .why-vef-card .why-vef-content h3{
    font-size: 20px;
    font-weight: 700;
    color: #056997;
    text-transform: uppercase;

}
.why-vef .why-vef-cards .why-vef-card .why-vef-content p{
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    line-height: 23px;
    width: 90%;
    margin-left: 5%;
}
.vef-need .vef-need-img{
    padding: 30px;
}
.vef-need img{
    width: 75%;
    box-shadow: 1px 1px 8px rgba(64, 223, 215, 0.466);
}
.vef-need .vef-need-content h2{
    margin-left: 50px;
    font-size: 45px;
    text-transform: uppercase;
    color: rgb(21, 180, 180);
}
.vef-need .vef-need-content i{
    color: rgb(21, 180, 180);
    font-size: 15px;
}
.vef-need .vef-need-content p{
    width: 90%;
    font-size: 16px;
    line-height: 25px;
    margin-left: 50px;
    text-align: justify;
}
.vef-works{
    padding: 20px 0;
    width: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.815), rgba(255, 255, 255, 0.849)), url('../images/bg3.jpg');
    border-top: 2px solid rgb(21, 180, 180);
    background-attachment: fixed;
}
.vef-works .how-vef-work{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
.vef-works .how-vef-work h1{
    font-size: 45px;
    font-weight: 700;
    text-align: center;
    color: rgb(21, 180, 180);
    margin-bottom: 15px;
}
.vef-works .how-vef-work p{
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    line-height: 30px;
}

.exhibitor-sec{
    background: rgb(229, 250, 247);
    padding: 60px 0;
    width: 100%;
    border-top: 2px solid rgb(22, 173, 173);
}
.exhibitor-sec h1{
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 700;
    color: #04aeb4;
    text-transform: uppercase;
}
.exhibitor-sec .exhibitor-cards{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.exhibitor-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: rgb(247, 216, 216);
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.exhibitor-card:hover{
    background: rgb(2, 167, 167);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.397);
}

.exhibitor-card img{
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}
.exhibitor-content h3{
    font-size: 20px;
    color: rgb(54, 54, 54);
    text-align: center;
}
.exhibitor-card:hover >.exhibitor-content h3 {
    color: white;
}

.student-sec{
    padding: 60px 0;
    width: 100%;
    /* border-top: 2px solid rgb(22, 173, 173); */
}
.student-sec h1{
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 700;
    color: #0b6e9c;
    text-transform: uppercase;
}
.student-sec .student-cards{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.student-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.R{
    background: rgb(82, 137, 168);
}
.G{
    background: rgb(47, 133, 182);
}
.B{
    background: rgb(58, 119, 143);
}
.Y{
    background: rgb(28, 121, 158);
}
.student-card:hover{
    background: rgb(7, 79, 112);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.397);
    padding-bottom: 15px;
}

.student-card img{
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}
.student-content h3{
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
}
.student-card:hover >.student-content h3 {
    color: white;
}



.highlight-sec{
    padding: 60px 0;
    width: 100%;
    background: rgb(240, 236, 236);
    /* border-top: 2px solid rgb(22, 173, 173); */
}
.highlight-sec h1{
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 700;
    color: #04aeb4;
    text-transform: uppercase;
}
.highlight-sec .highlight-cards{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 60px;
    grid-row-gap: 30px;
}
.highlight-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 250px;
    background-color: rgb(248, 246, 246);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
    border-top: 6px solid rgb(0, 110, 110);
}
.highlight-card:hover{
    background: rgb(2, 167, 167);
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.699);
    padding-right: 5px;
    border-top: 6px solid rgb(22, 22, 22);

}

.highlight-card img{
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
}
.highlight-content h3{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}
.highlight-card:hover >.highlight-content h3 {
    color: white;
}


.target-sec{
    padding: 60px 0;
    width: 100%;
    /* border-top: 2px solid rgb(22, 173, 173); */
}
.target-sec h1{
    text-align: center;
    padding: 10px 0;
    margin-bottom: 30px;
    font-size: 45px;
    font-weight: 700;
    color: rgb(76, 114, 139);
    text-transform: uppercase;
}
.target-sec .target-cards{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap: 60px;
    grid-row-gap: 30px;
}
.target-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 200px;
    background-color: rgb(248, 246, 246);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
    border-radius: 20px;
}
.target-card:hover{
    background: rgb(76, 114, 139);
    box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.699);
    padding-bottom: 10px;

}
.target-card:hover> .target-card .target-card-icon{
    border: 5px solid white;
    border-radius: 50%;
}
.target-card img{
    width: 20%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 20px;
}
.target-content h3{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: 700;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}
.target-card:hover >.target-content h3 {
    color: white;
}

.target-card:hover > .target-card.T1{
    background: rgb(144, 159, 247) !important;
}











.footer-area {
    background-color: #e0dcdc;
    padding: 50px 30px 20px;
}

.footer-area .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
    overflow: hidden;
}

.footer-area .copyright_part_text {
    padding-top: 20px;
    border-top: 1px solid #686868;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.footer-area .copyright_part_text ul li{
    list-style-type: none;
    padding: 0px 10px;
}
.footer-area .copyright_part_text ul li a{
    text-decoration: none;
    color: grey;
}
.footer-area .copyright_part_text ul li a:hover{
    color: black;
}
.footer-area .copyright_part_text p {
    font-size: 15px;
}

.footer-area .footer_1 p {
    margin-bottom: 15px;
    text-align: justify;
}

.single-footer-widget img{
    width: 80%;
    margin-bottom: 20px;
}

.footer-area .single-footer-widget p {
    font-size: 14px;
    line-height: 1.8;
}
.footer-area .social_icon{
    margin-top: 10px;
}
.footer-area .social_icon i{
    font-size: 16px;
    padding: 10px;
    background: white;
    border: 2px solid black;
    color: teal;
    border-radius: 20px;
    margin-left: 15px;
    transition: 0.3s ease-in-out;
}
.footer-area .social_icon i:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.589);
    color: rgb(3, 3, 3);
    margin-top: 1px;
}
.footer-area .single-footer-widget h4 {
    margin-bottom: 23px;
    font-weight: 700;
    font-size: 24px;
}

.footer-area .single-footer-widget p {
    font-size: 14px;
    line-height: 1.8;
}

.footer-area .form-group {
    margin-top: 25px;
}

.footer-area .input-group {
    border: 1px solid #dedede;
    padding: 5px;
}

.footer-area .btn {
    background-color: #ff663b;
    color: #fff;
    width: 40px;
    border-radius: 0px;
    height: 40px;
    padding: 0;
    border-radius: 2px !important;
}

.footer-area .btn_1 {
    margin-top: 0px;
}

.btn_1:hover {
    color: #fff !important;
    background-position: right center;
    box-shadow: 0px 10px 30px 0px rgba(193, 34, 10, 0.2);
}

.footer-area .contact_info p span {
    color: #0c2e60;
    font-size: 16px;
}
@media screen and (max-width: 768px){
    *{
        /* overflow-x: hidden; */
    }
    nav.navbar-light {
        position: fixed !important;
        width: 100vw;
        top: 0;
        left: 0;
        min-height: 70px !important;
        z-index: 1000;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.459);
    }
    .navbar-brand{
        position: absolute;
        top: 0%;
        left: 55%;
    }
    .navbar-brand img{
        width: 80%;
    }
    main.index-head{
        margin-top: 70px;
        height: auto;
        background: linear-gradient(rgba(0, 0, 0, 0.144), rgba(0, 0, 0, 0.075)), url('../images/slider.jpg');
        background-attachment: fixed;
        object-fit: contain;
        background-position: center;
        padding: 30px 0;
    }
    main.index-head .index-head-content h1{
        font-size: 35px;
        color: white;
        font-family: 'poppins', sans-serif;
        font-weight: 700;
        margin-left: 0px;
        text-align: center;
        margin-top: 0px;
    }
    main.index-head .index-head-content p{
        font-size: 15px;
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        font-weight: 300;
        width: 95%;
        margin-left: 2.5%;
        line-height: 22px;
        text-align: center;
        margin-top: 10px;
    
    }
    main.index-head .index-head-registration{
        margin-left: 50% !important;
        
        transform: translateX(-50%) !important;
    }
    main.index-head .index-head-registration button{
        margin-left: 50% !important;
        transform: translateX(-50%) !important;
        text-align: center;
        display:inline-block;
        padding:0.7em 1.4em;
        border-radius:0.15em;
        box-sizing: border-box;
        text-decoration:none;
        font-family:'Roboto',sans-serif;
        text-transform:uppercase;
        font-weight:400;
        color:#FFFFFF;
        background-color:#33beff;
        box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
        text-align:center;
        position:relative;
    }
    main.index-head .index-head-registration button:hover{
        background-color:#0172a7;
    }
    main.index-head .index-head-timer{
        margin-left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }
    
    main.index-head .index-head-timer button{
        color: white;
        border: 1px solid white;
        padding: 8px 10px;
        font-size: 30px;
        font-weight: 700;
        position: relative;
    }
    main.index-head .index-head-timer button.btnsym::before{
        content: ':';
        position: absolute;
        left: 110%;
    }
    section.vef-cards{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        position: relative;
        bottom: 0px;
        margin-left: 50%;
        transform: translateX(-50%);
        background-color: white;
        padding: 20px;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.466);
    }
    .vef-cards > h2{
        text-align: center;
        padding: 20px 0;
        font-size: 35px;
        font-weight: 700;
        color: #1199c2;
    }
    section.vef-cards .vef-all-cards{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr;
        grid-row-gap: 30px;
    }
    .vef-card{
        background: rgb(255, 255, 255);
        text-align: center;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.274);
        cursor: pointer;
        transition: .5s ease-in-out;
    }
    .vef-card:hover{
        box-shadow: 3px 1px 12px rgba(0, 0, 0, 0.466);
        background: #1199c2;
        color: white;
    
    }
    .vef-card .vef-card-content h2{
        font-size: 22px;
        line-height: 32px;
    }
    .why-vef{
        margin-top: 0px;
        padding: 20px 0;
        width: 100%;
        background: linear-gradient(60deg, rgba(29, 29, 29, 0.5), rgba(12, 12, 12, 0.356)), url('../images/bg1.jpg');
        background-attachment: fixed;
    }
    .why-vef h2{
        text-align: center;
        padding: 10px 0;
        margin-bottom: 10px;
        font-size: 45px;
        font-weight: 700;
        color: #ffffff;
    }
    .why-vef .why-vef-cards{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-column-gap: 10px;
        grid-row-gap: 15px;
    }
    .why-vef .why-vef-cards .why-vef-card{
        margin: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.329);
        padding: 10px;
        transition: 0.3s ease-in-out;
        border-radius: 10px;
        background: white;
    }
    .why-vef .why-vef-cards .why-vef-card:hover{
        box-shadow: 1px 0px 15px rgba(255, 255, 255, 0.61);
        background: rgb(248, 239, 225);
        cursor: pointer;
    }
    .why-vef .why-vef-cards .why-vef-card:hover > .why-vef-img img{
        box-shadow: 1px 1px 10px cyan;
    }
    .why-vef .why-vef-cards .why-vef-card img{
        width: 30%;
        margin-left: 50%;
        transform: translateX(-50%);
        box-shadow: 0 0 10px rgba(4, 160, 160, 0.575);
        border-radius: 50%;
        transition: 0.3s ease-in-out;
    }
    .why-vef .why-vef-cards .why-vef-card .why-vef-content{
        margin-top: 20px;
        text-align: center;
        font-size: 15px;
    }
    .why-vef .why-vef-cards .why-vef-card .why-vef-content h3{
        font-size: 20px;
        font-weight: 700;
        color: #056997;
        text-transform: uppercase;
    
    }
    .why-vef .why-vef-cards .why-vef-card .why-vef-content p{
        font-size: 15px;
        font-weight: 500;
        margin-top: 10px;
        line-height: 23px;
        width: 90%;
        margin-left: 5%;
    }




    .vef-need{
        position: relative;
        background: linear-gradient(rgba(214, 212, 212, 0.692), rgba(199, 197, 197, 0.74)), url('../images/bg2.jpg');
    }
    .vef-need .vef-need-img{
        display: none;
    }
    .vef-need img{
        width: 100%;
        box-shadow: none;
        z-index: -1;
        display: none;
    }
    .vef-need .vef-need-content h2{
        margin-left: 10px;
        font-size: 35px;
        text-transform: uppercase;
        color: rgb(21, 180, 180);
    }
    .vef-need .vef-need-content i{
        color: rgb(21, 180, 180);
        font-size: 12px;
    }
    .vef-need .vef-need-content p{
        width: 95%;
        font-size: 16px;
        line-height: 25px;
        margin-left: 2.5%;
        text-align: justify;
    }
    .vef-works{
        padding: 20px 0;
        width: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.815), rgba(255, 255, 255, 0.849)), url('../images/bg3.jpg');
        border-top: 2px solid rgb(21, 180, 180);
        background-attachment: fixed;
    }
    .vef-works .how-vef-work{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }
    .vef-works .how-vef-work h1{
        font-size: 45px;
        font-weight: 700;
        text-align: center;
        color: rgb(21, 180, 180);
        margin-bottom: 15px;
    }
    .vef-works .how-vef-work p{
        font-size: 17px;
        font-weight: 600;
        text-align: center;
        line-height: 30px;
    }
    
    .exhibitor-sec{
        background: rgb(229, 250, 247);
        padding: 20px 0;
        width: 100%;
        border-top: 2px solid rgb(22, 173, 173);
    }
    .exhibitor-sec h1{
        text-align: center;
        padding: 5px 0;
        margin-bottom: 10px;
        font-size: 35px;
        font-weight: 700;
        color: #04aeb4;
        text-transform: uppercase;
    }
    .exhibitor-sec .exhibitor-cards{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-column-gap: 30px;
        grid-row-gap: 0px;
    }
    .exhibitor-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 250px;
        background-color: rgb(247, 216, 216);
        border-radius: 20px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        margin: 30px;
    }
    .exhibitor-card:hover{
        background: rgb(2, 167, 167);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.397);
    }
    
    .exhibitor-card img{
        width: 50%;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 50px;
    }
    .exhibitor-content h3{
        font-size: 20px;
        color: rgb(54, 54, 54);
        text-align: center;
    }
    .exhibitor-card:hover >.exhibitor-content h3 {
        color: white;
    }
    
    .student-sec{
        padding: 20px 0;
        width: 100%;
        /* border-top: 2px solid rgb(22, 173, 173); */
    }
    .student-sec h1{
        text-align: center;
        padding: 10px 0;
        margin-bottom: 10px;
        font-size: 35px;
        font-weight: 700;
        color: #0b6e9c;
        text-transform: uppercase;
    }
    .student-sec .student-cards{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-column-gap: 30px;
        grid-row-gap: 0px;
    }
    .student-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        margin: 25px;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }
    .R{
        background: rgb(82, 137, 168);
    }
    .G{
        background: rgb(47, 133, 182);
    }
    .B{
        background: rgb(58, 119, 143);
    }
    .Y{
        background: rgb(28, 121, 158);
    }
    .student-card:hover{
        background: rgb(7, 79, 112);
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.397);
        padding-bottom: 15px;
    }
    
    .student-card img{
        width: 40%;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }
    .student-content h3{
        font-size: 20px;
        color: rgb(255, 255, 255);
        text-align: center;
        width: 80%;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    .student-card:hover >.student-content h3 {
        color: white;
    }
    
    
    
    .highlight-sec{
        padding: 20px 0;
        width: 100%;
        background: rgb(240, 236, 236);
        /* border-top: 2px solid rgb(22, 173, 173); */
    }
    .highlight-sec h1{
        text-align: center;
        padding: 10px 0;
        margin-bottom: 0px;
        font-size: 35px;
        font-weight: 700;
        color: #04aeb4;
        text-transform: uppercase;
    }
    .highlight-sec .highlight-cards{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-column-gap: 60px;
        grid-row-gap: 0px;
    }
    .highlight-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200px;
        background-color: rgb(248, 246, 246);
        cursor: pointer;
        transition: 0.3s ease-in-out;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
        border-top: 6px solid rgb(0, 110, 110);
        margin: 25px;
    }
    .highlight-card:hover{
        background: rgb(2, 167, 167);
        box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.699);
        padding-right: 5px;
        border-top: 6px solid rgb(22, 22, 22);
    
    }
    
    .highlight-card img{
        width: 40%;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 30px;
    }
    .highlight-content h3{
        font-size: 20px;
        color: rgb(0, 0, 0);
        font-weight: 700;
        text-align: center;
        width: 80%;
        margin-left: 10%;
    }
    .highlight-card:hover >.highlight-content h3 {
        color: white;
    }
    
    
    .target-sec{
        padding: 20px 0;
        width: 100%;
        /* border-top: 2px solid rgb(22, 173, 173); */
    }
    .target-sec h1{
        text-align: center;
        padding: 10px 0;
        margin-bottom: 0px;
        font-size: 35px;
        font-weight: 700;
        color: rgb(76, 114, 139);
        text-transform: uppercase;
    }
    .target-sec .target-cards{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-column-gap: 60px;
        grid-row-gap: 0px;
    }
    .target-card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        height: 200px;
        background-color: rgb(248, 246, 246);
        cursor: pointer;
        transition: 0.3s ease-in-out;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.205);
        border-radius: 20px;
        margin: 25px;
    }
    .target-card:hover{
        background: rgb(76, 114, 139);
        box-shadow: -10px 10px 5px rgba(0, 0, 0, 0.699);
        padding-bottom: 10px;
    
    }
    .target-card:hover> .target-card .target-card-icon{
        border: 5px solid white;
        border-radius: 50%;
    }
    .target-card img{
        width: 20%;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-bottom: 20px;
    }
    .target-content h3{
        font-size: 20px;
        color: rgb(0, 0, 0);
        font-weight: 700;
        text-align: center;
        width: 80%;
        margin-left: 10%;
    }
    .target-card:hover >.target-content h3 {
        color: white;
    }
    
    .target-card:hover > .target-card.T1{
        background: rgb(144, 159, 247) !important;
    }
    
    .footer-area {
        background-color: #e0dcdc;
        padding: 50px 0px 20px;
    }
    .footer-area .copyright_part_text {
        border-top: none;
    }
    .footer-area .copyright_part_text ul{
        display: flex;
        width: 100vw;
        justify-content: space-between;
        align-items: center;
    }
    .footer-area .copyright_part_text ul li{
        /* padding: 0px 8px; */
        white-space: nowrap;
        text-align: center;
    }
    .footer-area .copyright_part_text p{
        border-top: 2px solid gray;
        text-align: center !important;
        width: 100vw;
        margin-left: 50%;
        padding-top: 25px !important;

    }
}



@media screen and (max-width: 700px){

    .navbar-brand{
        position: absolute;
        top: 0%;
        left: 40%;
        
    }
    .navbar-brand img{
        width: 70%;
    }
}
@media screen and (max-width: 600px){

    .navbar-brand{
        position: absolute;
        top: 0%;
        left: 40%;
        
    }
    .navbar-brand img{
        width: 73%;
    }
}
@media screen and (max-width: 500px){

    .navbar-brand{
        position: absolute;
        top: 0%;
        left: 20%;
        
    }
    .navbar-brand img{
        width: 65%;
    }
    .footer-area .social_icon i{
        font-size: 16px;
        padding: 10px;
        background: white;
        border: 2px solid black;
        color: teal;
        border-radius: 20px;
        margin-right: 15px;
        margin-left: 5px;
        transition: 0.3s ease-in-out;
    }
    .footer_2{
        margin-top: 10px;
    }
}
@media screen and (max-width: 400px){

    .navbar-brand{
        position: absolute;
        top: 0%;
        left: 15%;
        
    }
    .navbar-brand img{
        width: 80%;
    }

}